body, html, .app {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background: rgb(255, 255, 255);
  background-image: url('./assets/background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

body::-webkit-scrollbar {
  display: none;
}


.hero-wrapper {
  height: 300vh;
  position: relative;
}

.label {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none; 
  z-index: 200;
  display: flex;
  justify-content: center;
  height: auto;
}

.label-inner {
  pointer-events: auto; 
  width: 100%;
  background: rgba(197, 197, 197, 0.17);
  backdrop-filter: blur(10px);
  color: white;
  padding: 1rem 1rem 2rem 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0;
}

.flip-text {
  text-align:right;
  position: relative;
  width: 100%;
  height: 4rem;
  perspective: 1000px;
}

.flip-text p {
  position: absolute;
  top: 0;
  right: 2rem;
  width: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.flip-text p span {
  font-size: 2rem;
}

.flip-text .front {
  transform: rotateY(0deg);
}

.flip-text .back {
  transform: rotateY(180deg);
}

.flip-text.flip .front {
  transform: rotateY(180deg);
}

.flip-text.flip .back {
  transform: rotateY(360deg);
}

.orange-panel, .black-panel {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  transition: transform 0.2s ease-out;
  pointer-events: none;
  z-index: 100;
}

.orange-panel {
  background: #ff5b00;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  z-index: 100;
}

.black-panel {
  background: black;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  z-index: 99;
}

.content-section {
  position: relative;
  z-index: 1;
  margin-top: 100vh;
  padding: 4rem 2rem;
  /* background: rgb(0, 0, 0); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-box {
  width: 80%;
  margin: auto;
  background: #111;
  color: rgb(191, 130, 16);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  border: 1px solid red;
}
.content-box h2 {
  color: white
}
.content-box span {
  font-size: 1.2rem;
  font-weight: 800;
}

/*
images sliders container
*/
.cars-image-slider-container{
  backdrop-filter: blur(20px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.517);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 0;
  border-radius: 5px;
  margin-bottom: 0rem;
  background-color: rgb(0, 0, 0);
}

.image-slider-div{
  color: black;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  width: 90%;
  border-radius: 15px;
  margin-bottom: 5rem;
  padding: 0.5rem;
}

.company-name{
  color: white;
  font-size: 5rem;
  background-color: red;
}